p {
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(./assets/ezgif-6-ecde21b6a1.jpg);
}

.new {
    width: 75vw;
    height: 20vh;
    background-color: white;
}

#one:hover{
    background-color: #f6b511b1;
    cursor: pointer;
}
#two:hover{
    background-color: rgba(255, 0, 0, 0.341);
    cursor: pointer;
}
#three:hover{
    background-color: #f6b511b1;
    cursor: pointer;
}
#four:hover{
    background-color: rgba(255, 0, 0, 0.356);
    cursor: pointer;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    max-height: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    align-items: center;
}

